.search-results-page {
  .search-results-wrapper{
    display: flex;
    flex-wrap: wrap;
   
    .search-resuls{
      width: 80%;
    }
  }
  .back-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;

    &:hover {
      background-color: #45a049;
    }
  }

  .section-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .no-results {
    font-size: 24px;
    color: #666;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
  }
}
