.reports-wrapper {
    width: 100%;
    padding: 20px;
    
    .reports-title {
      font-size: 2rem;
      margin-bottom: 20px;
      text-align: center;
    }
  
    .reports {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px; 
      // For each chart container
      > div {
        flex: 1 1 calc(50% - 20px); // Each chart takes 50% width minus gap space
        min-width: 300px; 
  
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 15px;
      }
    }
  }
  