.manage-medications {
  padding: 20px;

  .top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .title {
      font-size: 2rem;
      font-weight: bold;
      color: #333;
    }

    .add-button {
      background-color: green;
      color: #fff;
      font-size: 1rem;
      font-weight: 500;
      text-transform: uppercase;
      padding: 10px 20px;
      border-radius: 50px;
      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .search-bar {
    margin: 20px auto;
    width: 50%;

    input {
      outline: none;
      border-radius: 10px;

      font-size: 1rem;
      padding: 10px;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
  }

  .table-container {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    
  }
}
