.error {
  color: #f44336;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1rem;
}

.loading {
  text-align: center;
  font-size: 1.2rem;
  color: #007bff;
}
.setting {
  width: 80%;
  margin: 0 auto;
  padding: 20px;

  h2 {
    text-align: left;
    font-size: 1.8rem;
    margin: 20px;
    color: #333;
  }

  .pharmasist-setting {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    .form-group {
      display: flex;
      .input-lable {
        width: 40%;
        label {
          display: block;
          font-size: 1.5rem;
          margin-bottom: 8px;
          color: #555;
          font-weight: bold;
        }
      }
      p {
        width: 50%;

        input[type="text"],
        input[type="email"],
        input[type="url"],
        input[type="file"],
        input[type="checkbox"] {

          width: 100%;
          padding: 15px;
          font-size: 1.5rem;
          border: 1px solid rgb(207, 205, 205);
          border-radius: 10px;
          margin-bottom: 20px;
          background-color: #fff;
          &:focus {
            border: 2px solid #4a90e2;
          }
        }
        input[type="checkbox"] {
          width: 20px;
          margin-right: 10px;
          transform: scale(2);
        }
        input[type="file"] {
          padding: 0;
        }
      }
    }
  }

  .setting-button {
    width: 30%;
    padding: 20px;
    background-color: green;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }
}
/* Responsive Styling */
@media (max-width: 768px) {
  form {
    padding: 15px;
  }

  h2 {
    font-size: 1.5rem;
  }

  label {
    font-size: 0.9rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="file"],
  button {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  form {
    padding: 10px;
  }

  h2 {
    font-size: 1.3rem;
  }

  label {
    font-size: 0.8rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="file"],
  button {
    font-size: 0.8rem;
  }

  button {
    padding: 10px;
  }
}
