$icon_color: #4665fdde;
$text_color: hwb(252 85% 11%);

.admin-navbar {
  background-color: rgb(25, 25, 112);
  color: #fff;
  width: 100%;
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border: 2px solid #000;
    box-shadow: 24px;
    padding: 20px;
    border-radius: 8px;
  }
  // height: 60px;
  .navbar_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px 0 25px;
    border-bottom: 1px solid #ddd4d4;

    .logo {
      cursor: pointer;

      text-align: center;
      color: $text_color;
      .text_none {
        text-decoration: none;
        color: $text_color;
      }
    }
   

    

    .item_lists {
      display: flex;
      align-items: center;

      .item {
        margin-left: 15px;
        display: flex;
        align-items: center;
        position: relative;

        .item_icon {
          font-size: 22px;
          cursor: pointer;

          &.white {
            color: rgba(255, 255, 255, 0.699);
          }
        }

        .badge {
          height: 18px;
          width: 18px;
          border-radius: 50%;
          background-color: #ff74b1;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 13px;
          font-weight: bold;
          position: absolute;
          top: -7px;
          right: -7px;
        }

        .admin_pic {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .admin-navbar {
    // height: 60px;
    .navbar_main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 25px;
      border-bottom: 1px solid #eee;

      .menu_logo {
        display: block !important;
        display: flex !important;
        align-items: center !important;

        .text_none {
          margin-left: 5px;
          color: #4665fdde;
        }
      }
    }

    .res_navbar {
      display: block;
    }
  }
}

@media screen and (max-width: 767px) {
  .admin-navbar {
    .navbar_main {
      padding: 15px 15px;

      .search {
        display: none;
      }

      .item_lists {
        .item {
          margin-left: 10px;
        }
        .item_lan {
          display: none;
        }
      }
    }
  }
}
