* {
	box-sizing: border-box;
}

.search-bar {
	background-color: var(--background-color);
	display: flex;
	align-items: center;
	border-radius: 30px;
	gap: 20px;
	padding: 10px 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

	.search-input-container {
		position: relative;
		flex: 1;
		display: flex;
		align-items: center;

		.suggestions {
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			background: var(--background-color);
			border: 1px solid var(--border-color);
			border-radius: 8px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
			max-height: 200px;
			overflow-y: auto;
			z-index: 1000;
			list-style: none;

			li {
				padding: 12px;
				font-size: 14px;
				cursor: pointer;
				color: var(--text-color);

				&:hover {
					background: var(--secondary-color);
					color: var(--button-text-color);
				}
			}
		}

		.input-icon {
			position: absolute;
			left: 10px;
			color: var(--secondary-color);
			font-size: 20px;
		}

		.search-input {
			padding: 12px 12px 12px 40px;
			width: 100%;
			border: 2px solid var(--border-color);
			border-radius: 20px;
			font-size: 16px;
			outline: none;
			background-color: var(--background-color);
			color: var(--text-color);

			&:focus {
				border-color: var(--primary-color);
				box-shadow: 0 0 5px rgba(30, 144, 255, 0.5);
			}
		}
	}

	.search-button {
		padding: 15px 20px;
		background-color: var(--primary-color);
		color: var(--button-text-color);
		border: none;
		border-radius: 20px;
		font-size: 16px;
		cursor: pointer;
		transition: background-color 0.3s ease, transform 0.2s ease;

		&:hover {
			background-color: var(--secondary-color);
			transform: scale(1.05);
		}
	}
}

@media (max-width: 768px) {
	.search-bar {
		flex-direction: column;
		gap: 15px;
		padding: 15px;

		.search-input-container {
			width: 100%;
		}

		.search-button {
			width: 100%;
			text-align: center;
		}
	}
}

@media (max-width: 480px) {
	.search-bar {
		padding: 10px;
		border-radius: 20px;

		.search-input {
			font-size: 14px;
		}

		.search-button {
			font-size: 14px;
			padding: 12px;
		}
	}
}
