.header {
  position: fixed;

  top: 0;
  z-index: 1001;
  background-color: #eae6f3f8;
  width: 100%;
  height: 80px;
  * {
    box-sizing: border-box;
  }
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    padding: 0 10px;
    .navbar-logo {
      font-size: 2rem;
      font-weight: bold;
      color: #292424;
      margin-bottom: 20px;
      text-decoration: none;
    }

    .navbar-links {
      display: flex;
      gap: 1.5rem;
      margin-left: auto;

      li {
        list-style: none;

        .link {
          color: #131010;
          text-decoration: none;
          font-size: 24px;
          font-weight: 700;
        }
      }
    }
     /* Mobile Navigation */
     .menu-icon {
      display: none;
      font-size: 2rem;
      cursor: pointer;
    }
  }

  /* Responsive Design */
@media (max-width: 1024px) {
  .navbar {
    padding: 0 15px;

    .navbar-links {
      gap: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    .navbar-links {
      display: none;
      flex-direction: column;
      background: rgba(255, 255, 255, 0.95);
      position: absolute;
      top: 80px;
      right: 0;
      width: 100%;
      padding: 15px 0;
      text-align: center;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;
      width: 50%;
      text-align:left;
      padding: 10px;

    }

    .navbar-links.active {
      display: flex;
    }

    .menu-icon {
      display: block;
    }
  }
}

@media (max-width: 480px) {
  .header {
    height: 70px;
  }

  .navbar {
    padding: 0 10px;

    .navbar-logo {
      font-size: 1.5rem;
    }

    .navbar-links {
      li .link {
        font-size: 1rem;
      }
    }
  }
}
}
