.header {
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #eae6f3f8;
    width: 100%;
  * {
    box-sizing: border-box;
  }
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    padding: 10px;
    .navbar-logo {
      font-size: 2rem;
      font-weight: bold;
      color: #292424;
      margin-bottom: 20px;
    }

    .navbar-links {
      display: flex;
      gap: 1.5rem;

      li {
        list-style: none;

        .link {
          color: #131010;
          text-decoration: none;
          font-size: 24px;
          font-weight: 700;
        }
      }
    }
  }

  /* Responsive Styles */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;

      .navbar-links {
        flex-direction: column;
        gap: 1rem;

        li .link {
          font-size: 20px;
        }
      }
    }
  }
  @media (max-width: 480px) {
    .navbar {
      padding: 5px;

      .navbar-logo {
        font-size: 1.2rem;
      }

      .navbar-links {
        li .link {
          font-size: 16px;
        }
      }
    }
  }
}
