.breadcrumbs {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #555;
    padding: 20px 10px 10px 20px;
    background-color: rgb(184, 201, 195);
  
    a {
      text-decoration: none;
      color: #007bff;
      transition: color 0.3s ease;
  
      &:hover {
        color: #0056b3;
        text-decoration: underline;
      }
    }
  
    span {
      color: #333; // Non-clickable pharmacy name
    }
  
    em {
      color: #222;
      font-weight: bold;
    }
  
    & > *:not(:last-child) {
      margin-right: 8px;
    }
  
    & > *::after {
      content: ">";
      margin-left: 8px;
      color: #888;
    }
  
    & > *:last-child::after {
      content: ""; // Remove arrow from the last element
    }
  }
  