.admin-home {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  .home_main {
  
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: center;
    height: 100%;

    .home_sidebar.visible {
      display: block;
      position: fixed;
      left: 0;
      width: 250px;
      height: 100vh;
      z-index: 100;
      background-color: hsla(231, 28%, 91%, 0.959);
      transition: transform 0.3s ease;
      overflow-y: auto;
    }
    

    main {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      height: 100%;
      padding: 10px;
	  .home_items {
        background-color: rgb(91, 91, 221);
	   
        display: flex;
        gap: 20px;
        padding: 10px 25px;
      }
    }

  }
}

@media screen and (max-width: 992px) {
  .admin-home{
    .home_main {
      display: grid;
      grid-template-columns: 100%;
      justify-content: center;
  
      .home_sidebar {
        display: none ;
      }
  
      .home_sidebar.visible {
        display: block !important; // Ensure visibility is enforced
      }
    }
  }
 
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 576px) {

}
