.admin-home {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  .home_main {
  
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: center;
    height: 100%;

    .home_sidebar.visible {
      display: block;
      position: fixed;
      left: 0;
      width: 250px;
      height: 100vh;
      z-index: 10;
      background-color: hsla(231, 28%, 91%, 0.959);
      transition: transform 0.3s ease;
      overflow-y: auto;
    }
    

    main {
  
      overflow-y: auto;
      height: 100%;
      padding: 10px;
	  .home_items {
        background-color: rgb(91, 91, 221);
	   
        display: flex;
        gap: 20px;
        padding: 10px 25px;
      }
    }

  }
}

@media screen and (max-width: 992px) {
  .home {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;

    .home_sidebar {
      display: none;
    }

    .home_main {
      padding-top: 60px; // Accounts for the fixed header
      .bg_color {
        // Adjustments for smaller screens if needed
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .home {
    .home_main {
      .bg_color {
        // Additional adjustments for smaller screens
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .home {
    .home_main {
      .bg_color {
        height: 100px;
      }
    }
  }
}
