.manage-pharmacies {
  padding: 20px;

  .top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .title {
      font-size: 2rem;
      font-weight: bold;
      color: #333;
    }

    .add-button {
      background-color: green;
      color: #fff;
      font-size: 1rem;
      font-weight: 500;
      text-transform: uppercase;
      padding: 10px 20px;
      border-radius: 50px;
      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .search-bar {
    margin:20px auto;
    width: 50%;
    input {
        outline: none;

      font-size: 1rem;
      padding: 10px;
      border-radius: 10px;
      width: 100%;
      &:focus {
        border-color: #007bff;
        outline: none;
      }
    }
  }

  .table-container {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    table {
      width: 100%;
      border-collapse: collapse;

      thead {
        background-color:rgba(25, 25, 112,0.5);

        th {
          padding: 15px;
          font-size: 1rem;
          font-weight: 600;
          color: #fff;
          text-align: left;
          border-bottom: 2px solid #ddd;
        }
      }

      tbody {
        tr {

          &:nth-child(odd) {
		background-color: rgba(192, 189, 189, 0.3);
	}


          td {
            padding: 15px;
            font-size: 0.9rem;
            color: #333;
            vertical-align: middle;
            border-bottom: 1px solid #eee;

            .avatar {
              width: 56px;
              height: 56px;
              border-radius: 50%;
            }

            .action-buttons {
                gap: 10px;
                background-color: #007bff ;
              button {
                font-size: 0.8rem;
                padding: 5px 10px;
                border-radius: 4px;
                text-transform: uppercase;

                &.edit {
                  background-color: #28a745;
                  color: #fff;
                  &:hover {
                    background-color: #218838;
                  }
                }

                &.delete {
                  background-color: #dc3545;
                  color: #fff;
                  &:hover {
                    background-color: #c82333;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
