
.nearby-pharmacies{
  display: flex;
.filter-section{
    width: 20%;
    padding: 30px;
    .filter-title {
     font-size: 18px;
     font-weight: bold;
     margin-bottom: 10px;
     background-color: rgb(146, 127, 255);
     padding: 10px;

   }
   
   .distance-filters {
     display: flex;
     flex-direction: column;
     font-size: 20px;
   }
   
   .radio-label {
     display: flex;
     align-items: center;
     margin-bottom: 8px;
     cursor: pointer;
   }
   
   .reset-btn {
     margin-top: 10px;
     padding: 10px;
     background-color: #18db42;
     border: none;
     cursor: pointer;
     border-radius: 10px;
     border: none;
   }
   
   .reset-btn:focus {
     border: none;
   }
   }
  .filter-results{
    width: 80%;
  }}